.message-list{

    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 4em;
    
}
.message{
    margin: 15px 15px 0 15px;


    &-text{
        display: inline-block;
        background-color: #fff;
        padding: 1.2em;
        font-size:1em;
        border-radius: 25px;
        color:rgba(0, 0, 255, 0.767);
        margin: 10px 0;
    }

    &-author{
        font-size: 0.8em;
    }
    &-author--right{
        text-align: right;

    }
}
.right{
    margin:15px 15px 0 auto;
}
  
